XML/ITMO.XML.Lab3/lessons_XML.xml

<?xml version = "1.0" encoding = "utf-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name = "TimeTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element name = "Lesson" maxOccurs = "unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Course" type="xs:string" />
              <xs:element name="TeacherName" type="xs:string" />
              <xs:element name="LessonTime" type="xs:string" />
              <xs:element name="StartDate" type="xs:string" />
              <xs:element name="EndDate" type="xs:string" />
			  <xs:element name="FinalGrade" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>